/*
Colors used:
Primary Color (white): #ffffff;
Secondary Colors (pink): #fcede7;
(light pink):#fef8f6
(grey):#f2f2f2
(green):#d6faf5
*/
* {
  box-sizing: border-box;
}

header {
  background-color: #4CE8D5;
  padding: 10px 0 4px;
  box-shadow: 0px 0px 10px 1px #B0D6DC;
  position: fixed;
  width: 100%;
}

nav {
  margin-top: 1em;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #414141 !important;
}

nav>ul>li>a:visited {
  color: #4CE8D5;
}

nav>ul>li>a:focus, a:hover {
  color: #4CE8D5;
  text-decoration: underline;
}

nav>ul>li>a:active {
  color: #1E95A6;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
 padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.navtoggle li .icon {
  position: absolute;
  padding-right: 0;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.welcome span {
  display: block;
  font-size: 70%;
  margin-top: 1em;
}

body {
  background-color: #ffffff;
  font-family: 'Nunito', sans-serif, 'Fredoka One';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #414141;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}

h4 {
  font-size: 1.35em;
  font-weight: 600;
}

img {
  width: 100%;
}

a {
  color: #1E95A6;
  text-decoration: none;
}

a:visited {
  color: #4CE8D5;
}

a:focus,
a:hover {
  color: #4CE8D5;
  text-decoration: underline;
}

a:active {
  color: #1E95A6;
}

.button {
  display: inline-block;
  background-color: #1E95A6;
  color: #ffffff !important;
  font-weight: 400;
  padding: 0.5em 2em;
  border-radius: 30px;
  transition-duration: 0.2s;
  transition: 0.2s opacity;
}

.button:hover {
  background-color: #ffffff;
  color: #1E95A6 !important;
  padding: 8px;
  border-radius: 30px;
  border: 2px solid #1E95A6;
  text-decoration: none;
  opacity: 0.8;
}

.button:active {
  background-color: #ffffff;
  color: #1E95A6 !important;
  padding: 8px;
  border-radius: 30px;
  border: 2px solid #1E95A6;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #1E95A6 !important;
  padding: 0.5em 3em;
  border-radius: 30px;
  border: 2px solid #1E95A6;
}

.button.contact:hover {
  background-color: #1E95A6;
  color: #ffffff !important;
  text-decoration: none;
}

.button.contact:active {
  background-color: #1E95A6;
  color: #ffffff !important;
  text-decoration: none;
}

.social {
  list-style-type: none;
  padding: 0;
}

.social li {
  display: inline-block;
  margin: 0 0.5em;
}

.social svg {
  width: 3em;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#work h2 {
  text-align: center;
}

#hero {
  background-color: #FCEDE7;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.logo {
  max-width: 150px;
  text-align: center;
}

main {
  padding-top: 44px;
}

.about h1, h2 {
  font-family: "Fredoka One";
  text-align: left;
}

footer {
  text-align: center;
}

footer h2 {
  text-align: center;
}

.frame {
width: 100%;
max-width: 100%;
}

.projects svg {
  width: 100%;
max-width: 100%;
}

.window2 {
  animation-duration: 3s;
  animation-name: colour-change;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}

.window4 {
  animation-duration: 3s;
  animation-name: colour-change;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}

@keyframes colour-change {
  from {fill: #000000;}
  to {fill: #4CE8D5;}
}

.project.welcome .row {
  display: flex;
  justify-content: space-between;
}

.project.welcome .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project.welcome .column:first-child {
width: 30%;
}

.project.welcome .column:last-child {
width: 50%;
}

.project.welcome .column:first-child img {
margin-bottom: 2em;
}

.intro-heading .row {
  flex-direction: column;
}

.intro-heading .column:first-child {
display: flex;
width:100%;
line-height: 0;
}

.intro-heading .column:last-child {
display: flex;
width:100%;
background-color:#fef8f6;
align-items: center;
justify-content: center;
padding: 2em;
}

.step-1 .row:first-child {
flex-direction: column;
  }

.step-1 .column:first-child {
  display: flex;
}

.step-1 .row:first-child .column:first-child img {
height: 60px;
width:auto;
margin-right: 1em;
}

.step-1 .column:last-child {
  display: flex;
}

.inner-section {
  padding:0 15px;
}

.inner-section .row {
  display: flex;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

header .container .navtoggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 250px;
}

  nav {
    width: auto;
    margin: 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  main {
    padding-top: 86px;
  }

  .home .row::after,
  .about .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .intro-heading .row {
    flex-direction: row;
  }

  .intro-heading .column:first-child {
  width:30%;
  }

  .intro-heading .column:last-child {
  width:70%;
  }

  .step-1 .row:first-child .column:first-child img {
  height: 90px;
  }

  h3 {
    margin: 0;
  }
}

@media only screen and (min-width: 1024px) {

  .container, .inner-section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .step-1 .row:first-child {
  flex-direction: row;
  justify-content: space-between;
    }

    .step-1 .row:first-child .column:first-child {
    width: 30%;
}

.step-1 .row:first-child .column:last-child {
width: 50%;
}

@media only screen and (min-width: 1440px) {}
