/*
Colors used:
Primary Color (white): #ffffff;
Secondary Colors (pink): #fcede7;
(light pink):#fef8f6
(grey):#f2f2f2
(green):#d6faf5
*/
* {
  box-sizing: border-box;
}

header {
  background-color: #4CE8D5;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0px 0px 10px 1px #B0D6DC;
  position: fixed;
  width: 100%;
}

nav {
  margin-top: 1em;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #414141 !important;
}

nav>ul>li>a:visited {
  color: #4CE8D5;
}

nav>ul>li>a:focus, a:hover {
  color: #4CE8D5;
  text-decoration: underline;
}

nav>ul>li>a:active {
  color: #1E95A6;
}

.welcome span {
  display: block;
  font-size: 70%;
  margin-top: 1em;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif, 'Fredoka One';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #414141;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 500;
}

img {
  width: 100%;
}

a {
  color: #1E95A6;
  text-decoration: none;
}

a:visited {
  color: #4CE8D5;
}

a:focus,
a:hover {
  color: #4CE8D5;
  text-decoration: underline;
}

a:active {
  color: #1E95A6;
}

.button {
  display: inline-block;
  background-color: #1E95A6;
  color: #ffffff !important;
  font-weight: 400;
  padding: 0.5em 2em;
  border-radius: 30px;
  transition-duration: 0.2s;
  transition: 0.2s opacity;
}

.button:hover {
  background-color: #ffffff;
  color: #1E95A6 !important;
  padding: 8px;
  border-radius: 30px;
  border: 2px solid #1E95A6;
  text-decoration: none;
  opacity: 0.8;
}

.button:active {
  background-color: #ffffff;
  color: #1E95A6 !important;
  padding: 8px;
  border-radius: 30px;
  border: 2px solid #1E95A6;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #1E95A6 !important;
  padding: 0.5em 3em;
  border-radius: 30px;
  border: 2px solid #1E95A6;
}

.button.contact:hover {
  background-color: #1E95A6;
  color: #ffffff !important;
  text-decoration: none;
}

.button.contact:active {
  background-color: #1E95A6;
  color: #ffffff !important;
  text-decoration: none;
}

.social {
  list-style-type: none;
  padding: 0;
}

.social li {
  display: inline-block;
  margin: 0 0.5em;
}

.social svg {
  width: 3em;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#work h2 {
  text-align: center;
}

#hero {
  background-color: #FCEDE7;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.logo {
  max-width: 250px;
  text-align: center;
}

main {
  padding-top: 115px;
}

.about h1, h2 {
  font-family: "Fredoka One";
  text-align: left;
}

footer {
  text-align: center;
}

footer h2 {
  text-align: center;
}

.frame {
width: 100%;
max-width: 100%;
}

.berlin-illustration {
  width: 100%;
max-width: 100%;
height: auto;
}

@keyframes colour-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: colour-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  nav {
    width: auto;
    margin: 0;
  }

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  main {
    padding-top: 86px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  h3 {
    margin: 0;
  }


}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1440px) {}
